<!DOCTYPE html>

<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Asad's ToDo List</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
        
    </head>
    <body>
        
        <div class="box" id="heading">
            <h1> <%= kindOfDay %> </h1>
        </div>

        <div class="box">
            <!-- displaying each item -->
            <% for (let i = 0; i < newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newListItems[i] %> </p>
            </div>
            <% } %>

            <!-- displaying the input box & and the button -->
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
        </div>
        
    </body>
</html>